@font-face {
    font-family: 'roboto';
    src: url(../assets/font/RobotoMono-Regular.ttf);
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-image: url("../assets/img/backImg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'roboto';

}
h1{
    text-align: center;
    color:rgb(255, 38, 0);
    margin-bottom: 20px;
}
/*header*/
.navbar > .container-fluid {
    align-items: flex-end;
}
.navbar-collapse {
    flex-grow: initial;
}
header {
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 100;
    grid-area: header;
}
.header__logo {
    height: 7rem;
    width: 7rem;
    animation: ease-in animat 1s;
}

@keyframes animat {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
}

nav ul li a{
            text-decoration:none;
            color:rgba(85, 83, 83, 0.986);
            font-weight: bolder;
            font-size: 1.56em;
            position: relative;

}
nav ul li a:after{
                content: "";
                position: absolute;
                background-color: orange;
                height: 3px;
                left: 0;
                width: 0;
                bottom: 5px;
                transition: 0.3s;
}
nav ul li a:hover{
    color: white;
}
nav ul li a:hover:after{
    width: 100%;
}

/*footer*/
#pie-de-página{
    background-color: black;
    padding: 5px;
    position: static;
    bottom:0px;
    padding-top: 10px;
    grid-area: footer;
}
#pie-de-página ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
}
#pie-de-página h3{
    font-family: 'roboto';
    font-size: 1.1rem;
}

.insta a i:hover{
    color: #750D37;
    transform: scale(1.65);
}
.insta i{
    color: orange;
}

.face a i:hover{
    transform: scale(1.65);
    color: #0E34A0;
}
.face i{
    color: orange;
}

.whatsapp a i:hover{
    color: #04F06A;
    transform: scale(1.65);
}
.whatsapp i{
    color: orange;
}
.envelope a i:hover{
    color: #eb3232;
    transform: scale(1.65);
}
.envelope i{
    color: orange;
}

/*pagina principal*/

#carouselDestacado .carousel-item img{
    object-fit: cover;
    height: 75vh;
    overflow: hidden;
}

.column_txt--destacados{
    font-weight: bolder;
}

.column_txt--destacados,
.column_txt--33 {
    position: absolute;
    bottom: 0;
    color: rgb(255, 17, 0);
    background-color: rgba(245, 245, 220, 0.5);
    text-align: center;
}
.column_33 .column_txt--33{
    bottom: 10px;
    font-size:  1.2rem;
}
#grid_pagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
}


.column_33 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

}
.pagina_img {
    height: 175px;
    width: auto;
    object-fit: cover;
}
@media (max-width: 576px)  {
    .grid_index{
        grid-template-columns: 1fr;
    }
    .pagina_img{
        height: 150px;
    }
    .column_txt--33{
        font-size: .8em;
        position: relative;
    }
    .column_33{
        flex-direction: column-reverse;
    }
    .titulo_index{
        font-size: 1.4rem;
    }
}
.titulos{
    display: flex;
    justify-content: center;
    grid-area: titulo;
}

.titulo_index{
    white-space: nowrap;
    border-right: 4px solid;
    width: 34ch;
    animation: typing 2s steps(34), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 

.pagina_img:hover{
    transition: all 0.65s;
    transform: rotateY(360deg);
}

/*Sobre Nosotros*/

.nosotros_grid{

    margin: 0%;
    display:grid;
    gap: 0.93em;
    grid-template-areas:
    "header header"
    "titulo titulo"
    "nosotros_imagen nosotros_texto"
    "footer footer"
    ;
}

.titulo_nosotros{

    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(19), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 



.nosotros_text{
    padding: 15px;
    background-color: rgba(245, 245, 220, 0.5);
    border: 3px solid white;
    border-radius: 20px;
    grid-area: nosotros_texto;
    transition: 0.7s ease-in-out;

}
.nosotros_img{
    height: 300px;
    object-fit: contain;
    grid-area: nosotros_imagen;
    transition: 2s ease-in-out;
}
.nosotros_img img {
    width: auto; 
    max-height: 100%; 
}
.nosotros_text--content{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
    transition: 2s ease-in-out;

}

@media  (max-width: 992px){
    .nosotros_grid{
        grid-template-areas: 
        "header"
        "titulo"
        "nosotros_imagen"
        "nosotros_texto"
        "footer";
    }
    .nosotros_img{
        display: flex;
        justify-content: center;
    }
    .nosotros_text--content{
        font-size: 1rem;
    }
}


.nosotros_text:hover{
    background:  rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 32px rgba(238, 235, 235, 0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;

}

.nosotros_text--content:hover{
    color: rgb(49, 33, 2);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
}
/* consultanos*/


.form_container {
    padding: 20px;
    font-weight: bold;
    background-color: rgba(255, 235, 205, 0.863);
    font-size: 1.3rem;
    border-radius: 5px;
}

.sub_tittle{
    color: rgb(255, 140, 0) ;

}
.form_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0 1rem 0;
    background-color: rgba(255, 235, 205, 0.959);
    color: black;
    line-height: 1.5em;
    padding: 15px;
    border: 3px solid white;
    border-radius: 20px;
    transition: 0.7s ease-in-out;
}
.form_info:hover{
    background:  rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 32px black;
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;
}

.titulo_contacto{
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    animation: typing 2s steps(11), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 
/*galeria*/

.galeria_container {
    display: grid;
    gap: 0.8em;
    grid-template-columns: repeat(3,1fr);
}

.galeria_container--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.galeria_container--img:hover{
    filter:opacity(0.9);
    transform:scale(1.04)
}
.video_container{
    display: flex;
    justify-content: space-evenly;
}
iframe{
    width: 560px;
    height: 315px;
}
@media (max-width:576px){
    .galeria_container{
        grid-template-columns: 1fr;
    }
    .video_container{
        flex-direction: column;
        gap: 0.8em;
        justify-content: center;
    }
    iframe {
        width: 475px;
        height: 306px;
    }
}
@media (min-width:577px) and (max-width: 992px) {
    .video_container{
        justify-content: space-evenly;
        gap: 0.8em;
    }
    .galeria_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    iframe {
        width: 500px;
        height: 350px;
    }
}

.titulo_productos{
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 

/*pedidos*/

.precio_pedido {
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    padding: 0;
    border: 1px solid rgb(255, 140, 0);
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.788);
    transition: 0.5s;
}
.card:hover{
    box-shadow: 5px 5px 20px white;
    cursor: pointer;
    transform: scale(1.1);
}
.card:hover .pedido_img{
    transform: scale(1.1) rotate(3deg);
}
.card p {
    font-size: .8rem;
}


.pedido_img {
    width: 100%;
    transition: 0.5s;
}

.titulo_pedido{
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(19), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 