@font-face {
    font-family: 'roboto';
    src: url(../assets/font/RobotoMono-Regular.ttf);
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-image: url("../assets/Img/backImg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'roboto';

}
h1{
    text-align: center;
    color:rgb(255, 38, 0);
    margin-bottom: 20px;
}
/*header*/
header{
    background: linear-gradient(45deg, rgb(255, 140, 0), rgb(238, 255, 0), rgb(255, 0, 0), rgb(48, 27, 1))  ;
    color:black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    grid-area: header;

}
.logo{
    height: 6em;
    width: 6em;
}
.logo a img{
            height: 6em;
            display: flex;
            width: 6em;
}
nav{
    display:flex;
    padding: 5px;


}
nav ul{
        display:flex;
        list-style-type: none;
}

li {
    display:flex;
    list-style:none;
    margin:10px;
    align-self: center;

}
nav ul li a{
            text-decoration:none;
            color:rgba(85, 83, 83, 0.986);
            font-weight: bolder;
            font-size: 1.56em;
            position: relative;

}
nav ul li a:after{
                content: "";
                position: absolute;
                background-color: #c9184a;
                height: 3px;
                left: 0;
                width: 0;
                bottom: -10px;
                transition: 0.3s;
}
nav ul li a:hover{
    color: white;
}
nav ul li a:hover:after{
    width: 100%;
}

@media (max-width: 576px) {
header {
        flex-direction:column;
        display: flex;
}
.logo{
    height: 4.3em;
    width: 4.3em;
    align-self: center;

}
.logo a img{
            height: 4.3em;
            display: flex;
            width: 4.3em;
}
nav ul li a{
    font-size: 1em;
}
}
    @media (min-width: 576px) and (max-width: 992px) {
        nav ul li a{
            text-decoration:none;
            font-weight: bolder;
            font-size: 1.08em;
        }
        .logo{
            height: 5em;
            width: 5em;
        }
        .logo a img{
                    height: 5em;
                    display: flex;
                    width: 5em;
        }
    }

        
/*footer*/
#pie-de-página{
    background: linear-gradient(45deg, rgb(255, 140, 0), rgb(238, 255, 0), rgb(255, 0, 0), rgb(48, 27, 1))  ;
    padding: 5px;
    position: static;
    bottom:0px;
    grid-area: footer;
}
#pie-de-página ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
}


.insta a i:hover{
    color: #750D37;
    transform: scale(1.65);
}


.face a i:hover{
    transform: scale(1.65);
    color: #0E34A0;

}
.whatsapp a i:hover{
    color: #04F06A;
    transform: scale(1.65);
}
.envelope a i:hover{
    color: #9AC4F8;
    transform: scale(1.65);

}
/*pagina principal*/
.grid_index{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.destacados_1{
    /* display: flex; */
    width: auto;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.destacados_2{
    /* display: flex; */
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.destacados_img {
    height: 500px;
    object-fit: cover;
    width: 100%;
    max-width: 100%;

}
.column_txt--destacados{
    font-weight: bolder;
}

.column_txt--destacados,
.column_txt--33 {
    position: absolute;
    bottom: 0;
    color: rgb(255, 17, 0);
    background-color: rgba(245, 245, 220, 0.5);
    text-align: center;
}

#grid_pagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
}


.column_33 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;

}
.pagina_img {
    height:200px;
    width: auto;
    object-fit: cover;
}
@media (max-width: 576px)  {
    .grid_index{
        grid-template-columns: 1fr;
    }
    .pagina_img{
        height: 150px;
    }
    .column_txt--33{
        font-size: .8em;
        position: relative;
    }


}
.titulos{
    display: flex;
    justify-content: center;
    grid-area: titulo;
}

.titulo_index{
    white-space: nowrap;
    border-right: 4px solid;
    width: 34ch;
    animation: typing 2s steps(34), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 

.pagina_img:hover{
    transition: all 0.65s;
    transform: rotateY(360deg);
}

/*Sobre Nosotros*/

.nosotros_grid{

    margin: 0%;
    display:grid;
    gap: 0.93em;
    grid-template-areas:
    "header header"
    "titulo titulo"
    "nosotros_imagen nosotros_texto"
    "footer footer"
    ;
}

.titulo_nosotros{

    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(19), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 



.nosotros_text{
    padding: 15px;
    background-color: rgba(245, 245, 220, 0.5);
    border: 3px solid white;
    border-radius: 20px;
    grid-area: nosotros_texto;
    transition: 0.7s ease-in-out;

}
.nosotros_img{
    height: 300px;
    object-fit: contain;
    grid-area: nosotros_imagen;
    transition: 2s ease-in-out;
}
.nosotros_img img {
    width: auto; 
    max-height: 100%; 
}
.nosotros_text--content{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
    transition: 2s ease-in-out;

}

@media  (max-width: 992px){
    .nosotros_grid{
        grid-template-areas: 
        "header"
        "titulo"
        "nosotros_imagen"
        "nosotros_texto"
        "footer";
    }
    .nosotros_img{
        display: flex;
        justify-content: center;
    }
    .nosotros_text--content{
        font-size: 1rem;
    }
}

.nosotros_img:hover{
    transform: rotateX(360deg);
}

.nosotros_text:hover{
    background:  rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 32px rgba(238, 235, 235, 0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;

}

.nosotros_text--content:hover{
    color: rgb(49, 33, 2);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
}
/* consultanos*/

.main_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.form_container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 235, 205, 0.863);
    font-size: 1.3rem;
    border-radius: 5px;

}

.sub_tittle{
    color: rgb(255, 140, 0) ;

}
.form_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0 1rem 0;
    background-color: rgba(255, 235, 205, 0.959);
    color: black;
    border: 2px solid ;
    line-height: 1.5em; 

}
.button {
    margin: auto;
    text-transform: uppercase;
}
@media (max-width: 576px) {
    .main_contact{
        display: flex;
        flex-direction: column;
    }
}

.titulo_contacto{
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    animation: typing 2s steps(11), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 
/*galeria*/

.galeria_container {
    display: grid;
    gap: 0.8em;
    grid-template-columns: repeat(3,1fr);
}

.galeria_container--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.galeria_container--img:hover{
    filter:opacity(0.9);
    transform:scale(1.04)
}
.video_container{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:576px){
    .galeria_container{
        grid-template-columns: 1fr;
    }
    .video_container{
        flex-direction: column;
        gap: 0.8em;
    }
}
@media (min-width:577px) and (max-width: 992px) {
    .video_container{
        flex-direction: column;
        gap: 0.8em;
    }
    .galeria_container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

.titulo_productos{
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 

/*pedidos*/

.precio_pedido {
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.pedido_card {
    padding: 0;
    border: 1px solid rgb(255, 140, 0);
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.788);
    margin: .5em;
    transition: 0.5s;
}
.pedido_card:hover{
    box-shadow: 5px 5px 20px white;
    cursor: pointer;
    transform: scale(1.1);
}
.pedido_card:hover .pedido_img{
    transform: scale(1.1) rotate(3deg);
}
.pedido_card p {
    font-size: .8rem;
}

#pedido_container {
    max-width: calc(5 * 16rem);
    min-width: 25em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pin {
    padding: .8rem;
}

.pedido_img {
    width: 100%;
    transition: 0.5s;
}


.pedido_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 calc(33% - 1em);
}

@media (max-width: 992px){
    .pedido_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 calc(50% - 1em);
    }
}

.titulo_pedido{
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(19), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
@keyframes typing {
    from {width: 0}
}
@keyframes blink {
    50% {border-color: transparent}
} 