// layout
@import "layout/variables";
@import "layout/generales";
@import "layout/header";
@import "layout/footer";

//pages
@import "pages/principal";
@import "pages/nosotros";
@import "pages/productos";
@import "pages/pedido";
@import "pages/contacto";
