
#pie-de-página {
	background-color: $bg-color;
	padding: 5px;
	position: sticky;
	bottom: 0;
	padding-top: 10px;
	ul {
		display: flex;
		list-style-type: none;
		justify-content: space-around;
	}
	h3 {
		font-family: 'roboto';
		font-size: 1.1rem;
	}
}
.insta {
	a {
		i {
			&:hover {
				color: map-get($redescolor, insta);
				transform: scale(1.65);
			}
		}
	}
	i {
		color: $maincolor;
	}
}
.face {
	a {
		i {
			&:hover {
				transform: scale(1.65);
				color: map-get($redescolor, face);
			}
		}
	}
	i {
		color: $maincolor;
	}
}
.whatsapp {
	a {
		i {
			&:hover {
				color: map-get($redescolor, whatsapp);
				transform: scale(1.65);
			}
		}
	}
	i {
		color: $maincolor;
	}
}
.envelope {
	a {
		i {
			&:hover {
				color: map-get($redescolor, envelope);
				transform: scale(1.65);
			}
		}
	}
	i {
		color: $maincolor;
	}
}
