*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
@font-face {
    font-family: 'roboto';
    src: url(../assets/font/RobotoMono-Regular.ttf);
}

body{
    overflow-x: hidden;
    background-image: url("../assets/img/backImg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    font-family: 'roboto';
    animation: fondomov 10s infinite linear alternate;
}
@keyframes fondomov {
    from{background-position: bottom left;}
    to{background-position: top right;}
}

@media (min-width:360px) and (max-width:768px){
    body{
        background-size: cover;
    }
}