

.titulo_nosotros {
	@include typetitulo;
	width: 19ch;
	animation: typing 2s steps(19), blink .5s infinite step-end alternate;

}
@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.nos__container{
	margin-bottom: 2.5rem;
}
.nosotros_text {
	padding: 40px;
	background-color: $bg-boxcolor;
	border: 3px solid white;
	border-radius: 20px;
	margin-bottom: 2.5rem;
	transition: 0.7s ease-in-out;
	&:hover {
		background: rgba(255,255,255,0.3);
		backdrop-filter: blur(20px);
		box-shadow: 0px 8px 32px rgba(238, 235, 235, 0.37);
		border: 1px solid rgba(255,255,255,0.18);
		border-radius: 20px;
	}
}
.nosotros_img {
	height: 30rem;
	object-fit: cover;
	transition: 2s ease-in-out;
	img {
		width: auto;
		max-height: 100%;
	}
}
.nosotros_text--content {
	color: $bg-color;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 2;
	transition: 2s ease-in-out;
	&:hover {
		color: black;
		font-size: 1.2rem;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 2;
	}
}
@media (max-width: 992px) {
	.nosotros_img {
		display: flex;
		justify-content: center;
	}
	.nosotros_text--content {
		font-size: 1rem;
	}
}

@media (max-width:570px){
	.nosotros_img{
		height: 25rem;
	}
}