
@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}
#carouselDestacado {
	.carousel-item {
		img {
			object-fit: cover;
			height: 75vh;
			overflow: hidden;
		}
	}
}
.column_txt--33 {
	position: absolute;
	bottom: 0;
	color: $maincolor;
	background-color: rgba(36, 21, 1, 0.5);
	text-align: center;
	font-weight: bolder;
	border-radius: 20px;
}
.column_txt--destacados {
	@extend .column_txt--33;

}

.column_33 {
	.column_txt--33 {
		bottom: 10px;
		font-size: 1.3rem;
	}
	width: 100%;
	@include flexcomun;
	position: relative;
}
#grid_pagina {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px;
}
.pagina_img {
	height: 175px;
	width: auto;
	object-fit: cover;
	&:hover {
		transition: all 0.65s;
		transform: rotateY(360deg);
	}
}
.titulos {
	@include flexcomun;
    color:rgb(228, 147, 7);
    margin-bottom: 20px;
}
.titulo_index {
	@include typetitulo;
	width: 23ch;
	animation: typing 2s steps(23), blink .5s infinite step-end alternate;

}
@media (max-width: 576px) {
	.grid_index {
		grid-template-columns: 1fr;
	}
	.pagina_img {
		height: 130px;
	}
	.column_txt--33 {
		font-size: 1em;
		position: relative;
	}
	.column_33 {
		flex-direction: column-reverse;
	}
	.titulo_index {
		font-size: 1.5rem;
	}
	.carousel-inner{
		height: 55vh;
	}
}
