

.galeria_container {
	display: grid;
	gap: 0.8em;
	grid-template-columns: repeat(3,1fr);
}
.galeria_container--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
	&:hover {
		filter: opacity(0.9);
		transform: scale(1.04);
	}
}
.video_container {
	display: flex;
	justify-content: space-evenly;
}
iframe {
	width: 560px;
	height: 315px;
}
.titulo_productos {
	white-space: nowrap;
	border-right: 4px solid;
	width: 22ch;
	animation: typing 2s steps(22), blink .5s infinite step-end alternate;
	overflow: hidden;
}
@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}
@media (max-width:576px) {
	.galeria_container {
		grid-template-columns: 1fr;
	}
	.video_container {
		flex-direction: column;
		gap: 0.8em;
		justify-content: center;
	}
	iframe {
		width: 475px;
		height: 306px;
	}
}
@media (min-width:577px) and (max-width: 992px) {
	.video_container {
		justify-content: space-evenly;
		gap: 0.8em;
	}
	.galeria_container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	iframe {
		width: 500px;
		height: 350px;
	}
}
